@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Creepster&family=Flavors&family=Rubik+Moonrocks&family=Sunshiney&display=swap");

main {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: minmax(300px, 2fr) 3fr;
  grid-auto-rows: 550px;
  border-bottom: 1px solid #ddd;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  align-self: center;
  margin: 15px;
  text-align: end;
}

.info-title {
  font-family: "Creepster", cursive;
  color: #333;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 24px;
  color: #502064;
  text-align: start;
}

.info-subtitle {
  font-family: "Sunshiney", cursive;
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 24px;
  text-align: justify;
}

.info-button {
  font-family: "Sunshiney", cursive;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bolder;
  padding: 8px 24px;
  border: 2px solid #8267be;
  background-color: #8267be;
}

.info-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid #8267be;
}

.dishes {
  margin: 100px 0;
}

.dishes-title {
  font-family: "Creepster", cursive;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #502064;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 200px));
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 25px;
}

.dishes-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishes-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dishes-item__big {
  grid-area: 1 / 1 / 3 / 3;
}

.menu {
  margin-bottom: 200px;
}

.menu-title {
  font-family: "Creepster", cursive;
  font-size: 2rem;
  color: #333;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
  color: #502064;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: center;
  gap: 25px;
}

.menu-grid-item {
  background-color: white;
  border: 4px solid #36ae7c;
  border-top-left-radius: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px -16px teal;

  padding: 12px;
}

.menu-grid-item:hover {
  transform: scale(1.1);
  box-shadow: inset 1em 1em 1em 3rem #ab8fe7;
  cursor: pointer;
}

.menu-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 991.98px) {
  .dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, 206px);
  }
}

@media screen and (max-width: 768px) {
  .dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 100px));
  }
}

@media (max-width: 575.98px) {
  .hero {
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }

  .info {
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, 160px);
  }
}
